.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 50%;
  height: 15rem;
}

#nav-mobile{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  padding: 10px;
  margin: 0px;
  color: white;
  background-color: black;
  list-style-type: none;
  width: 100%;
  background-image: url('./images/top-left-img.png');
  /* opacity: 0.8; */
}

li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
